.main {
  position: relative;
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projectsContainer {
  margin: 200px 0px 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 70px;
}

.logo {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 36px;
}