.main {
  position: relative;
  padding: 3em;
  /* padding-top: 6em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 30px;
    justify-content: flex-start;
    align-items: start;
  }
}