.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 14vw;
  min-height: 100vh;
  gap: 10em;
}

.hero, .logo {
  max-width: 1200px;
  width: 100%;
  height: fit-content;
}

.hero svg {
  width: 100%;
  height: auto;
}

.logo svg {
  width: calc(100% / 12);
  height: auto;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #000; /* Inset border effect */
}

.logo svg:hover {
  box-shadow: inset 0 0 0 4px #000; /* Change color on hover */
}



/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0px 5vw;
    gap: 5em;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {

} */

