.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 10em;
}

.hero, .logo {
  max-width: 1200px;
  width: 100%;
}

.hero svg {
  width: 100%;
  height: auto;
}

.logo svg {
  width: calc(100% / 12);
  height: auto;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
    gap: 5em;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {

} */

