.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 14vw;
  min-height: 100vh;
  gap: 10em;
}

.hero, .logo {
  max-width: 1200px;
  width: 100%;
  height: fit-content;
}

.hero svg {
  width: 100%;
  height: auto;
}

.logo svg {
  /* width: var(--box-size); */
  width: calc(100% / 12);
  height: auto;
  /* padding: calc(var(--box-size) / 4); */
  /* border: var(--full-yuan-border) */
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0px 5vw;
    gap: 5em;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {

} */

