.card {
  max-width: 950px;
  width: 100%;
  margin: 0 3rem;
}

.media {
  width: 100%;
}

.designInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  padding: 0 50px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.text h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.05em;
}


.collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  gap: 23px;
  color: #999;
}

.collaborator:hover {
  color: #333;
}