.card {
  max-width: 950px;
  width: 100%;
  padding: 0 3rem;
  position: relative;
}

.media {
  width: 100%;
}

.media:hover {
  opacity: 0.9;
}

.media:active {
  opacity: 0.7;
}

.designInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding: 0 50px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
}

.text h2 {
  padding-top: 5px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.05em;
}


.collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  gap: 23px;
  color: #999;
}

.collaborator:hover {
  color: #333;
}


@media screen and (max-width: 768px) {
  .card {
    padding: 0 30px;
  }

  .designInfo {
    padding: 0 10px;
  }

  .text {
    align-items: flex-start;
  }

  .text h2 {
    font-size: 14px;
  }

  .collaborators {
    font-size: 12px;
    gap: 10px;
  }
  
}
