.main {
  position: absolute;
  top: 6vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  z-index: 100;
}

.logo {
  padding: 0px 10px;
}

.text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #999;
  min-width: 105px;
  text-align: center;
}

.text:hover {
  color: #000;
}

.text.active {
  color: #000;

}
