.card {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
}

.name {
  width: 200px;
  position: relative;
  left: calc(50% - 18px); /* align with left of navbar logo */
  top:0;
}

.nameText {
  font-size: 24px;
  font-weight: 100;
  color: #aaa;
  letter-spacing: -0.13em;
}

.nameText:hover {
  color: #000;
}

.name:hover + .projects {
  display: flex;
  flex-direction: column;
}

.name:hover + .infoContainer {
  display: block; /* Adjust as needed */
}

.infoContainer {
  display: none; /* Hide by default */
}

.role {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: lowercase;
}

.projectName {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  width: 200px;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .name {
    left: 0; 
  }

  .name:hover + .projects {
    display: none;
  }

  .infoContainer {
    display: block; /* Hide by default */
  }
  
  .projects {
    display: none;
  }
}