.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  min-height: 300px;
  padding: 40px;
}

.image {
  width: fit-content;
  height: 70px;
  padding: 10px;
}

.projectInfo {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title h2 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.title h3 {
  font-style: italic;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 17px;
}

.description {
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.note {
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  font-style: italic ;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer .collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
  