.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
  
  padding: 40px;
  gap: 40px;
  letter-spacing: -0.02em;
}

.image {
  width: fit-content;
  padding: 10px;
}

.projectInfo {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #000;
}

.title h2 {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;

}

.title h3 {
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
}

.description {
  font-size: 17px;
  font-weight: 400;
  margin-top: 20px;
  color: #000;
}

.note {
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  font-style: italic;
  color: #666;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  letter-spacing: -0.02em;
}

.footer .collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #999;
}

.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #777;
}
  