.logo {
  position: relative;
}

.gif {
  opacity: 0;
  /* transition: opacity 0.1s linear; */
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.logo:hover .gif{
  opacity: 1;
}

.logo:hover .image {
  opacity: 0;
  /* transition: opacity 0.1s linear; */
}


@media screen and (max-width: 768px) {

  .logo:hover .gif{
    display: none;
  }
  
  .logo:hover .image{
    display: block;
  }
  
}
