.main {
  width: 100%;
}

.designsContainer {
  display: flex;
  margin: 200px 0 100px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media screen and (max-width: 768px) {
  .designsContainer {
    margin: 50px 0 50px 0;
  }
}